body{
	margin : 0;
	padding : 0;
	width : 100vw;
	height: 100vh;
	overflow-x: hidden;
}
main{
	background-color: cadetblue;
	width: 100%;
	height: auto;
	display: block;
}
#inputField{
	width : 80%;
	height : 10%;
	border-radius: 20px;
	background-color: rgba(45,45,45,0.1);
	border : 2px solid gray;
	position: relative;
	display: inline-block;
	margin: 5% 10%;
	font-family: ubuntu;
	font-size: 40px;
	padding-left: 10px;
	color: black;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#inputField:focus , #button:focus, .downloadButton:focus{
	outline : none;
}
#button{
	width : 400px;
	height: 60px;
	display: inline-block;
	position: relative;
	margin: -20% 35%;
	font-family: ubuntu;
	font-size: 40px;
	background-color: rgba(45,45,45,0.5);
	border-radius: 20px;
	border: 2px solid gray;
}

.video{
	width : 95%;
	height: 390px;
	background-color: rgba(45,45,45,0.5);
	display: inline-block;
	margin: 30px 30px;
	border: 2px solid white;
	border-bottom: 2px solid white;

}
.video > .wrapper{
	width : 90%;
	height: 380px;
	display: inline-block;
	position: relative;
	margin: 0px 60px;
	/*border: 1px solid blue;*/
	background-color: transparent;
}
.wrapper > .thumbnail{
	
	width: 55%;
	height: 350px;
	margin: 15px 15px;
	display: inline-block;
	float: left;
	text-align: center;
	background-color: transparent;
}
.wrapper > .video_info{
	border: 2px solid black;
	width: 38%;
	height: 350px;
	margin: 15px 15px;
	display: inline-block;
	float: right;
	text-align: center;
	position: relative;
	background-color: transparent;
}
.thumbnail > video{
	width : 95%;
	height : 95%;
	margin: 10px auto;
}
table{
	width: 95%;
	height: 75%;
	margin: 10px auto;
	font-family: ubuntu;
}
table, tr,td,th{
	border: 1px solid black;
}
tr{
	height: 28px;
}
td{
	width: 40%;
}
.downloadButton{
	width: 95%;
	height: 60px;
	letter-spacing: 5px;
	font-family: ubuntu;
	font-size: 36px;
	background-color: orange;
	border: 2px solid orange;
}
.video > #myProgress {
    width: 100%;
    height: 5px;
    background-color: orange;
    display: inline-block;
    margin: 0px 0px;
}
.video > #myProgress >  #myBar {
    width: 0%;
    height: 5px;
    background-color: cadetblue;
}
